.container
  .row.clearfix
    .col-md-12.column
      .jumbotron
        %h1
          Hello, world!
        %p
          This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
        %p
          %a.btn.btn-primary.btn-large{:href => "#"} Learn more
      .row.clearfix
        .col-md-6.column
          %a.btn.btn-lg.active.btn-block.btn-success{:href => new_user_registration_path, :type => "button"} Click here to sign up!
        .col-md-6.column
          %blockquote
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            %small
              Someone famous
              %cite Source Title
          %blockquote
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            %small
              Someone famous
              %cite Source Title